/* Color Theme Swatches in Hex */
$dark: #373740;
$primary: #3F59A6;
$secondary: #324373;
$accent: #A67458;
$light: #5C82F2;
$text-light: #f2f2f2;
$text-dark: #373740;
$success: #9FC131;
$warning: #FFB30D;
$danger: #F23030;
$info: #72F2EB;

$dark-hover: #3b3b41;
$primary-hover: #3c56a9;
$secondary-hover: #4a62a2;
$accent-hover: #de9572;
$light-hover: #7491ee;
$success-hover: #8fb90c;
$warning-hover: #f8a800;
$danger-hover: #d32222;
$info-hover: #91eae5;

$fs-title: 1.2rem;
$fs-subtitle: 1rem;
$fs-regular: .8rem;
$fs-small: .6rem;
$fs-tiny: .3rem;

$radius: .3rem